[Unit]
Description=Blob Service
Documentation=https://doc.cisti.org/blZjmjWHSeGha9Y8NVQV4Q?both
After=network.target

[Service]
Type=simple
User=blob
Restart=on-failure
WorkingDirectory=/srv/blob

ExecStart=/srv/blob/bin/index.mjs start

[Install]
WantedBy=multi-user.target